src/main/resource/META-INF/distask.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://ahhf.cly/distask"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://ahhf.cly/distask" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:element name="task">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" use="optional" />
					<xsd:attribute name="priority" type="xsd:string" use="optional" />
					<xsd:attribute name="relativeTask" type="xsd:string"  use="optional" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
